<h1>Log In Below:</h1>

<form action="/registrations" method="POST">
  
  <lable for="name ">Name: </lable>
  <input id="name" type="text" name="name">
  
  <lable for="email">Email: </lable>
  <input id="email" type="text" name="email">
  
  <input id="submit" type="submit" value="Login">
</form> 

