<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
  
  <lable for="name ">Name: </lable>
  <input id="name" type="text" name="name">
  
  <lable for="email">Email: </lable>
  <input type="text" name="email">
  
  <input id="submit" type="submit" value="Sign Up">
</form> 

